body {
   font-size: 1em;
   color: #000000;
   background: #ffffff;
}

p.announcement {
   color: #000000;
   background: #e0e0e0 none repeat;
   padding: 10px;
   border-width: 1px;
   border-style: solid;
   border-color: #000000;
}

p.shortannouncement {
   color: #000000;
   background: #e0e0e0 none repeat;
   text-align: center;
   padding: 10px;
   border-width: 1px;
   border-style: solid;
   border-color: #000000;
}

p.contribution {
   color: #000000;
   background: #ffffff none repeat;
   text-align: right;
}

p.caption {
   color: #000000;
   background: #ffffff none repeat;
   text-align: center;
}

p.gallery {
   color: #000000;
   background: #ffffff none repeat;
   text-align: center;
}

p.navbar {
   color: #000000;
   background: #ffffff none repeat;
   margin-bottom: 0px;
}

p.footer {
   color: #000000;
   background: #ffffff none repeat;
   margin-top: 0px;
}

table.gallery {
   border: 0px;
   padding: 0px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;
}

div.gallery {
   text-align: center;
}

div.leftcolumn {
   width: 49%;
   float: left;
}

div.rightcolumn {
   width: 49%;
   float: right;
}

div.fullwidth {
   clear: both
}

div.announcement {
   color: #000000;
   background: #e0e0e0 none repeat;
   border-width: 3px;
   border-style: solid;
   border-color: #0000FF;
   padding-right: 10px;
}

img.inline {
   border: thin solid;
}

img.thumbnail {
   border: thin solid;
   margin-left: 0.5em;
}

img.icon {
   border: 0px;
}

img.logo {
   border: 0px;
   float: right;
}

img.rightthumbnail {
   border: thin solid;
   float: right;
   clear: right;
}

li.private {
   color: #999999;
   background: #ffffff none repeat;
}

hr {
   clear: both;
}

hr.footer {
   clear: both;
   margin-bottom: 3px;
}

dt {
   font-weight: bold;
   margin-top: 1em;
}
