RewriteEngine on
RewriteRule ^michaelmas-96\.html$ http://david.sampson.id.au/rowing/1996-michaelmas.html
RewriteRule ^michaelmas-1996\.html$ http://david.sampson.id.au/rowing/1996-michaelmas.html
RewriteRule ^lent-97\.html$ http://david.sampson.id.au/rowing/1997-lent.html
RewriteRule ^lent-1997\.html$ http://david.sampson.id.au/rowing/1997-lent.html
RewriteRule ^may-97\.html$ http://david.sampson.id.au/rowing/1997-may.html
RewriteRule ^may-1997\.html$ http://david.sampson.id.au/rowing/1997-may.html
RewriteRule ^michaelmas-97\.html$ http://david.sampson.id.au/rowing/1997-michaelmas.html
RewriteRule ^michaelmas-1997\.html$ http://david.sampson.id.au/rowing/1997-michaelmas.html
RewriteRule ^lent-98\.html$ http://david.sampson.id.au/rowing/1998-lent.html
RewriteRule ^lent-1998\.html$ http://david.sampson.id.au/rowing/1998-lent.html
RewriteRule ^may-98\.html$ http://david.sampson.id.au/rowing/1998-may.html
RewriteRule ^may-1998\.html$ http://david.sampson.id.au/rowing/1998-may.html
RewriteRule ^michaelmas-98\.html$ http://david.sampson.id.au/rowing/1998-michaelmas.html
RewriteRule ^michaelmas-1998\.html$ http://david.sampson.id.au/rowing/1998-michaelmas.html
RewriteRule ^lent-99\.html$ http://david.sampson.id.au/rowing/1999-lent.html
RewriteRule ^lent-1999\.html$ http://david.sampson.id.au/rowing/1999-lent.html
RewriteRule ^may-99\.html$ http://david.sampson.id.au/rowing/1999-may.html
RewriteRule ^may-1999\.html$ http://david.sampson.id.au/rowing/1999-may.html
RewriteRule ^summer-01\.html$ http://david.sampson.id.au/rowing/2001-summer.html
RewriteRule ^summer-2001\.html$ http://david.sampson.id.au/rowing/2001-summer.html
RewriteRule ^winter-02\.html$ http://david.sampson.id.au/rowing/2002-winter.html
RewriteRule ^winter-2002\.html$ http://david.sampson.id.au/rowing/2002-winter.html
RewriteRule ^summer-02\.html$ http://david.sampson.id.au/rowing/2002-summer.html
RewriteRule ^summer-2002\.html$ http://david.sampson.id.au/rowing/2002-summer.html
RewriteRule ^winter-03\.html$ http://david.sampson.id.au/rowing/2003-winter.html
RewriteRule ^winter-2003\.html$ http://david.sampson.id.au/rowing/2003-winter.html
RewriteRule ^summer-03\.html$ http://david.sampson.id.au/rowing/2003-summer.html
RewriteRule ^summer-2003\.html$ http://david.sampson.id.au/rowing/2003-summer.html
RewriteRule ^winter-04\.html$ http://david.sampson.id.au/rowing/2004-winter.html
RewriteRule ^winter-2004\.html$ http://david.sampson.id.au/rowing/2004-winter.html
RewriteRule ^summer-04\.html$ http://david.sampson.id.au/rowing/2004-summer.html
RewriteRule ^summer-2004\.html$ http://david.sampson.id.au/rowing/2004-summer.html
RewriteRule ^twilight\.html$ http://david.sampson.id.au/rowing/index.html