RewriteEngine on
RewriteRule ^avec98\.html$ http://david.sampson.id.au/work/avec-1998.html
RewriteRule ^cuedtr82\.html$ http://david.sampson.id.au/work/cued-tr82.html
RewriteRule ^hvwd00\.html$ http://david.sampson.id.au/work/hvwd-2000.html
RewriteRule ^iavsd99\.html$ http://david.sampson.id.au/work/iavsd-1999.html
RewriteRule ^imeche-d2174\.html$ http://david.sampson.id.au/work/imeche-d2174.html
RewriteRule ^index\.html$ http://david.sampson.id.au/work/cambridge.html
RewriteRule ^phd\.html$ http://david.sampson.id.au/work/phd.html
RewriteRule ^vsd-404\.html$ http://david.sampson.id.au/work/vsd-404.html
RewriteRule ^arcoahv\.pdf$ http://david.sampson.id.au/work/phd.pdf
RewriteRule ^avec98\.pdf$ http://david.sampson.id.au/work/avec-1998.pdf
RewriteRule ^cuedtr82\.pdf$ http://david.sampson.id.au/work/cued-tr82.pdf
RewriteRule ^hvwd00\.pdf$ http://david.sampson.id.au/work/hvwd-2000.pdf
RewriteRule ^iavsd99\.pdf$ http://david.sampson.id.au/work/iavsd-1999.pdf